$main-green: #047a08ff;

.cyclingWordContainer {
    display: inline-flex;
    justify-content: first baseline;
    width: 12vw;
    color: $main-green;
  }
  
  .cyclingWord {
    opacity: 1;
    transition: opacity 2s;
  
    &.fadeOut {
      animation: fadeOut 1s ease-in-out;
    }
  
    &.fadeIn {
      animation: fadeIn 1s ease-in-out;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }