@use '../styles/palette.scss' as p;
@use '../styles/common.scss' as c;

.index {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    background: linear-gradient(0deg, #FAF9EF, #014539);
    background-size: 100% 20%;
    background-repeat: no-repeat;

    /*  
    -webkit-animation: gradient 10s ease infinite;
    -moz-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite; 
    */

    .main {
        padding-top: 40px;
        padding-bottom: 40px;
        @include c.padlr();
        /* height: calc(100vh - 120px); */

        .intro {
            background-color: p.$secondary;
            height: min-content;
            padding: 24px;
            border-radius: 8px;
            font-size: 2.4rem;
            max-width: 700px;

            span {
                font-weight: 700;
                font-style: italic;
                color: p.$accent;
                background-color: #014539;
                padding: 0px 12px;
            }

            .explanation {
                font-size: 1.4rem;
                margin-top: 16px;
            }

            button {
                margin-top: 32px;
                background-color: p.$accent;
                border: none;
                border-radius: 24px;
                padding: 16px 32px;
                color: p.$primary;
                font-size: 1rem;
                cursor: pointer;
                transition: all 0.15s ease-in-out;

                &:hover {
                    // add a faint spread white glow effect
                    box-shadow: 0px 0px 18px 2px rgba(255, 255, 255, 0.5);

                }
            }

            .learn {
                background-color: transparent;
                margin-left: 12px;
                border: 1px solid p.$primary;
            }
        }

        .examples {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            gap: 20px;

            .example {
                max-width: 700px;
                display: flex;
                justify-content: space-between;
                gap: 20px;

                .graphic {
                    height: 100px;
                    width: 100px;
                    background-color: p.$primary;
                    border-radius: 8px;
                    color: white;
                    font-size: 3rem;
                    @include c.center();
                }

                .content {
                    background-color: p.$primary;
                    border-radius: 8px;
                    height: 100px;
                    flex: 1;
                    padding: 18px 24px;
                    color: white;

                    .type {
                        font-size: 1rem;
                        font-weight: 700;
                        color: p.$accent;
                        margin-bottom: 2px;
                    }

                    .details {
                        font-size: 1.2rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .trusted {
        width: 100%;
        background-color: p.$primary;
        padding-top: 40px;
        padding-bottom: 40px;
        @include c.padlr();
        scroll-margin-top: 80px;

        .backed {
            font-size: 2.0rem;
            font-weight: 600;
            color: p.$secondary;
            margin-bottom: 32px;
        }
        .backers {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 40px;

            .backer {
                padding: 12px;
                height: 120px;
                max-height: 100px;
                object-fit: contain;
                background-color: p.$secondary;
                border-radius: 8px;

                img {
                    height: 100%;
                    width: 200px;
                    min-width: 150px;
                    object-fit: contain;
                }
            }
        }
    }

    .about {
        width: 100%;
        background-color: p.$primary;
        padding-top: 40px;
        padding-bottom: 40px;
        @include c.padlr();

        .problem, .solution {
            display: flex;
            gap: 40px;
            justify-content: space-between;
            .details {
                width: 600px;
                span {
                    font-weight: 700;
                    font-size: 2rem;
                    font-style: italic;
                    color: p.$primary;
                    background-color: p.$accent;
                    padding: 0px 12px;
                }

                a {color: p.$accent; text-decoration: underline;}

                .statement {
                    font-size: 1.4rem;
                    margin-top: 16px;
                    color: p.$secondary;
                }
            }

            .graphics {
                display: flex;
                gap: 12px;
                .graphic {
                    padding: 12px;
                    height: 340px;
                    background-color: p.$secondary;
                    border-radius: 8px;
    
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .solution {
            margin-top: 40px;
        }
    }

    .roadmap {
        padding-top: 40px;
        padding-bottom: 40px;
        @include c.padlr();
        scroll-margin-top: 80px;

        .road {
            font-size: 2.0rem;
            font-weight: 600;
            color: p.$primary;
            margin-bottom: 32px;
        }

        .map {
            .entry {
                height: 300px;
                display: flex;
                align-items: center;

                .legend {
                    position: relative;
                    width: 100px;
                    height: 100%;

                    .line {
                        position: absolute;
                        left: 50%;
                        top: 0;
                        transform: translate(-50%, 0);
                        width: 8px;
                        height: 100%;
                        background-color: p.$primary;
                    }
                    .last {height: 50%;}

                    .star {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 40px;
                        height: 40px;
                        border: 2px solid p.$primary;
                        background-color: p.$secondary;
                        border-radius: 8px;
                        transform-origin: center;
                    }
                    .active {
                        background-color: p.$accent;
                    }
                }

                .content {
                    background-color: p.$primary;
                    width: 600px;
                    height: min-content;
                    border-radius: 8px;
                    padding: 24px;

                    .head {
                        font-size: 2rem;
                        display: flex;
                        margin-bottom: 16px;
                        color: p.$primary;
                        background-color: p.$accent;
                        width: min-content;
                        font-weight: 700;
                        font-style: italic;
                        padding: 0px 12px;
                        span {
                            display: flex;
                            align-items: center;
                            margin: 0px 12px;
                        }
                    }

                    .details {
                        font-size: 1.4rem;
                        color: p.$secondary;
                        margin-left: 24px;
                    }
                }

            }
        }

    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 51% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 51% 0%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 51% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 51% 0%
    }
}

@keyframes gradient {
    0% {
        background-position: 51% 0%
    }

    50% {
        background-position: 50% 100%
    }

    100% {
        background-position: 51% 0%
    }
}