/* $primary: #014539;
$secondary: #FAF9EF;
$accent: #97ED63;   */

/* $primary: #FFFCE9;
$secondary: #6d3600;
$accent: #099C09; */

/* $primary: #E4E0CB;
$secondary: #674934;
$accent: #2BA84A;   */

$primary: #275243;
$secondary: #f0f0eb;
$accent: #97ED63;